@using TreeHierarchy.Models
@using System.Collections.Generic
@model List<TreeNode>
@{
    var nodes = (List<TreeNode>)Model;
    <div class="row">
        <h1><span class="title">Folder:</span> <span class="foler-name">@nodes.ElementAt(0).Name</span></h1>
    </div>
    <div class="row">
        @ListViewHelper.DisplayChildTree(nodes.ElementAt(0).Children.ToList())
    </div>
}
