<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Application</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container body-content">
        <div>
            <p class="error-page-not-found">The page you are looking for can't be found!</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>